set_location Count_And_Toggle.o_Toggle_RNO 6 9 0 # SB_LUT4 (LogicCell: Count_And_Toggle.o_Toggle_LC_0)
set_location Count_And_Toggle.o_Toggle 6 9 0 # SB_DFF (LogicCell: Count_And_Toggle.o_Toggle_LC_0)
set_location Count_And_Toggle.r_Counter_RNI6J0M1[4] 5 8 4 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNI6J0M1[4]_LC_1)
set_location Count_And_Toggle.r_Counter_RNI6LNL1[11] 5 9 2 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNI6LNL1[11]_LC_2)
set_location Count_And_Toggle.r_Counter_RNIBHPL1[10] 5 8 0 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNIBHPL1[10]_LC_3)
set_location Count_And_Toggle.r_Counter_RNIMOB81[15] 5 9 4 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNIMOB81[15]_LC_4)
set_location Count_And_Toggle.r_Counter_RNIO40M1[1] 5 8 6 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNIO40M1[1]_LC_5)
set_location Count_And_Toggle.r_Counter_RNITEQL1[22] 4 9 7 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNITEQL1[22]_LC_6)
set_location Count_And_Toggle.r_Counter_RNIV16A6[10] 5 9 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNIV16A6[10]_LC_7)
set_location Count_And_Toggle.r_Counter_RNO[0] 5 8 3 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[0]_LC_8)
set_location Count_And_Toggle.r_Counter[0] 5 8 3 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[0]_LC_8)
set_location Count_And_Toggle.r_Counter_RNO_0[11] 4 8 2 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[11]_LC_9)
set_location Count_And_Toggle.un2_r_counter_cry_11_c 4 8 2 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[11]_LC_9)
set_location Count_And_Toggle.r_Counter_RNO_0[14] 4 8 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[14]_LC_10)
set_location Count_And_Toggle.un2_r_counter_cry_14_c 4 8 5 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[14]_LC_10)
set_location Count_And_Toggle.r_Counter_RNO_0[18] 4 9 1 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[18]_LC_11)
set_location Count_And_Toggle.un2_r_counter_cry_18_c 4 9 1 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[18]_LC_11)
set_location Count_And_Toggle.r_Counter_RNO_0[19] 4 9 2 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[19]_LC_12)
set_location Count_And_Toggle.un2_r_counter_cry_19_c 4 9 2 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[19]_LC_12)
set_location Count_And_Toggle.r_Counter_RNO_0[22] 4 9 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[22]_LC_13)
set_location Count_And_Toggle.r_Counter_RNO_0[6] 4 7 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[6]_LC_14)
set_location Count_And_Toggle.un2_r_counter_cry_6_c 4 7 5 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[6]_LC_14)
set_location Count_And_Toggle.r_Counter_RNO_0[8] 4 7 7 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[8]_LC_15)
set_location Count_And_Toggle.un2_r_counter_cry_8_c 4 7 7 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[8]_LC_15)
set_location Count_And_Toggle.r_Counter_RNO_0[9] 4 8 0 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter_RNO_0[9]_LC_16)
set_location Count_And_Toggle.un2_r_counter_cry_9_c 4 8 0 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter_RNO_0[9]_LC_16)
set_location Count_And_Toggle.r_Counter_RNO[1] 5 8 2 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[1]_LC_17)
set_location Count_And_Toggle.r_Counter[1] 5 8 2 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[1]_LC_17)
set_location Count_And_Toggle.r_Counter_RNO[10] 4 8 1 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[10]_LC_18)
set_location Count_And_Toggle.r_Counter[10] 4 8 1 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[10]_LC_18)
set_location Count_And_Toggle.un2_r_counter_cry_10_c 4 8 1 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[10]_LC_18)
set_location Count_And_Toggle.r_Counter_RNO[11] 5 8 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[11]_LC_19)
set_location Count_And_Toggle.r_Counter[11] 5 8 5 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[11]_LC_19)
set_location Count_And_Toggle.r_Counter_RNO[12] 4 8 3 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[12]_LC_20)
set_location Count_And_Toggle.r_Counter[12] 4 8 3 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[12]_LC_20)
set_location Count_And_Toggle.un2_r_counter_cry_12_c 4 8 3 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[12]_LC_20)
set_location Count_And_Toggle.r_Counter_RNO[13] 4 8 4 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[13]_LC_21)
set_location Count_And_Toggle.r_Counter[13] 4 8 4 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[13]_LC_21)
set_location Count_And_Toggle.un2_r_counter_cry_13_c 4 8 4 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[13]_LC_21)
set_location Count_And_Toggle.r_Counter_RNO[14] 5 9 6 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[14]_LC_22)
set_location Count_And_Toggle.r_Counter[14] 5 9 6 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[14]_LC_22)
set_location Count_And_Toggle.r_Counter_RNO[15] 4 8 6 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[15]_LC_23)
set_location Count_And_Toggle.r_Counter[15] 4 8 6 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[15]_LC_23)
set_location Count_And_Toggle.un2_r_counter_cry_15_c 4 8 6 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[15]_LC_23)
set_location Count_And_Toggle.r_Counter_RNO[16] 4 8 7 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[16]_LC_24)
set_location Count_And_Toggle.r_Counter[16] 4 8 7 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[16]_LC_24)
set_location Count_And_Toggle.un2_r_counter_cry_16_c 4 8 7 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[16]_LC_24)
set_location Count_And_Toggle.r_Counter_RNO[17] 4 9 0 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[17]_LC_25)
set_location Count_And_Toggle.r_Counter[17] 4 9 0 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[17]_LC_25)
set_location Count_And_Toggle.un2_r_counter_cry_17_c 4 9 0 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[17]_LC_25)
set_location Count_And_Toggle.r_Counter_RNO[18] 5 9 3 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[18]_LC_26)
set_location Count_And_Toggle.r_Counter[18] 5 9 3 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[18]_LC_26)
set_location Count_And_Toggle.r_Counter_RNO[19] 5 9 0 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[19]_LC_27)
set_location Count_And_Toggle.r_Counter[19] 5 9 0 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[19]_LC_27)
set_location Count_And_Toggle.r_Counter_RNO[2] 4 7 1 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[2]_LC_28)
set_location Count_And_Toggle.r_Counter[2] 4 7 1 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[2]_LC_28)
set_location Count_And_Toggle.un2_r_counter_cry_2_c 4 7 1 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[2]_LC_28)
set_location Count_And_Toggle.r_Counter_RNO[20] 4 9 3 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[20]_LC_29)
set_location Count_And_Toggle.r_Counter[20] 4 9 3 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[20]_LC_29)
set_location Count_And_Toggle.un2_r_counter_cry_20_c 4 9 3 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[20]_LC_29)
set_location Count_And_Toggle.r_Counter_RNO[21] 4 9 4 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[21]_LC_30)
set_location Count_And_Toggle.r_Counter[21] 4 9 4 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[21]_LC_30)
set_location Count_And_Toggle.un2_r_counter_cry_21_c 4 9 4 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[21]_LC_30)
set_location Count_And_Toggle.r_Counter_RNO[22] 4 9 6 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[22]_LC_31)
set_location Count_And_Toggle.r_Counter[22] 4 9 6 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[22]_LC_31)
set_location Count_And_Toggle.r_Counter_RNO[3] 4 7 2 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[3]_LC_32)
set_location Count_And_Toggle.r_Counter[3] 4 7 2 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[3]_LC_32)
set_location Count_And_Toggle.un2_r_counter_cry_3_c 4 7 2 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[3]_LC_32)
set_location Count_And_Toggle.r_Counter_RNO[4] 4 7 3 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[4]_LC_33)
set_location Count_And_Toggle.r_Counter[4] 4 7 3 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[4]_LC_33)
set_location Count_And_Toggle.un2_r_counter_cry_4_c 4 7 3 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[4]_LC_33)
set_location Count_And_Toggle.r_Counter_RNO[5] 4 7 4 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[5]_LC_34)
set_location Count_And_Toggle.r_Counter[5] 4 7 4 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[5]_LC_34)
set_location Count_And_Toggle.un2_r_counter_cry_5_c 4 7 4 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[5]_LC_34)
set_location Count_And_Toggle.r_Counter_RNO[6] 5 8 7 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[6]_LC_35)
set_location Count_And_Toggle.r_Counter[6] 5 8 7 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[6]_LC_35)
set_location Count_And_Toggle.r_Counter_RNO[7] 4 7 6 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[7]_LC_36)
set_location Count_And_Toggle.r_Counter[7] 4 7 6 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[7]_LC_36)
set_location Count_And_Toggle.un2_r_counter_cry_7_c 4 7 6 # SB_CARRY (LogicCell: Count_And_Toggle.r_Counter[7]_LC_36)
set_location Count_And_Toggle.r_Counter_RNO[8] 5 8 1 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[8]_LC_37)
set_location Count_And_Toggle.r_Counter[8] 5 8 1 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[8]_LC_37)
set_location Count_And_Toggle.r_Counter_RNO[9] 6 8 5 # SB_LUT4 (LogicCell: Count_And_Toggle.r_Counter[9]_LC_38)
set_location Count_And_Toggle.r_Counter[9] 6 8 5 # SB_DFF (LogicCell: Count_And_Toggle.r_Counter[9]_LC_38)
set_location Debounce_Sw1.r_Count_RNI2OVJ[1] 4 6 3 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNI2OVJ[1]_LC_39)
set_location Debounce_Sw1.r_Count_RNI720A[4] 4 5 3 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNI720A[4]_LC_40)
set_location Debounce_Sw1.r_Count_RNI9PG52[12] 4 6 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNI9PG52[12]_LC_41)
set_location Debounce_Sw1.r_Count_RNIGFOJ[10] 4 5 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNIGFOJ[10]_LC_42)
set_location Debounce_Sw1.r_Count_RNIK0081[6] 4 6 4 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNIK0081[6]_LC_43)
set_location Debounce_Sw1.r_Count_RNIMUGJ[17] 4 5 6 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count_RNIMUGJ[17]_LC_44)
set_location Debounce_Sw1.r_Count_RNO[0] 4 6 7 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[0]_LC_45)
set_location Debounce_Sw1.r_Count[0] 4 6 7 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[0]_LC_45)
set_location Debounce_Sw1.r_Count_RNO[1] 4 6 2 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[1]_LC_46)
set_location Debounce_Sw1.r_Count[1] 4 6 2 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[1]_LC_46)
set_location Debounce_Sw1.r_Count_RNO[10] 5 6 1 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[10]_LC_47)
set_location Debounce_Sw1.r_Count[10] 5 6 1 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[10]_LC_47)
set_location Debounce_Sw1.un2_r_count_cry_10_c 5 6 1 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[10]_LC_47)
set_location Debounce_Sw1.r_Count_RNO[11] 5 6 2 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[11]_LC_48)
set_location Debounce_Sw1.r_Count[11] 5 6 2 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[11]_LC_48)
set_location Debounce_Sw1.un2_r_count_cry_11_c 5 6 2 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[11]_LC_48)
set_location Debounce_Sw1.r_Count_RNO[12] 5 6 3 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[12]_LC_49)
set_location Debounce_Sw1.r_Count[12] 5 6 3 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[12]_LC_49)
set_location Debounce_Sw1.un2_r_count_cry_12_c 5 6 3 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[12]_LC_49)
set_location Debounce_Sw1.r_Count_RNO[13] 5 6 4 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[13]_LC_50)
set_location Debounce_Sw1.r_Count[13] 5 6 4 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[13]_LC_50)
set_location Debounce_Sw1.un2_r_count_cry_13_c 5 6 4 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[13]_LC_50)
set_location Debounce_Sw1.r_Count_RNO[14] 5 6 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[14]_LC_51)
set_location Debounce_Sw1.r_Count[14] 5 6 5 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[14]_LC_51)
set_location Debounce_Sw1.un2_r_count_cry_14_c 5 6 5 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[14]_LC_51)
set_location Debounce_Sw1.r_Count_RNO[15] 5 6 6 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[15]_LC_52)
set_location Debounce_Sw1.r_Count[15] 5 6 6 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[15]_LC_52)
set_location Debounce_Sw1.un2_r_count_cry_15_c 5 6 6 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[15]_LC_52)
set_location Debounce_Sw1.r_Count_RNO[16] 5 6 7 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[16]_LC_53)
set_location Debounce_Sw1.r_Count[16] 5 6 7 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[16]_LC_53)
set_location Debounce_Sw1.un2_r_count_cry_16_c 5 6 7 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[16]_LC_53)
set_location Debounce_Sw1.r_Count_RNO[17] 5 7 0 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[17]_LC_54)
set_location Debounce_Sw1.r_Count[17] 5 7 0 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[17]_LC_54)
set_location Debounce_Sw1.r_Count_RNO[2] 5 5 1 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[2]_LC_55)
set_location Debounce_Sw1.r_Count[2] 5 5 1 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[2]_LC_55)
set_location Debounce_Sw1.un2_r_count_cry_2_c 5 5 1 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[2]_LC_55)
set_location Debounce_Sw1.r_Count_RNO[3] 5 5 2 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[3]_LC_56)
set_location Debounce_Sw1.r_Count[3] 5 5 2 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[3]_LC_56)
set_location Debounce_Sw1.un2_r_count_cry_3_c 5 5 2 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[3]_LC_56)
set_location Debounce_Sw1.r_Count_RNO[4] 5 5 3 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[4]_LC_57)
set_location Debounce_Sw1.r_Count[4] 5 5 3 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[4]_LC_57)
set_location Debounce_Sw1.un2_r_count_cry_4_c 5 5 3 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[4]_LC_57)
set_location Debounce_Sw1.r_Count_RNO[5] 5 5 4 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[5]_LC_58)
set_location Debounce_Sw1.r_Count[5] 5 5 4 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[5]_LC_58)
set_location Debounce_Sw1.un2_r_count_cry_5_c 5 5 4 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[5]_LC_58)
set_location Debounce_Sw1.r_Count_RNO[6] 5 5 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[6]_LC_59)
set_location Debounce_Sw1.r_Count[6] 5 5 5 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[6]_LC_59)
set_location Debounce_Sw1.un2_r_count_cry_6_c 5 5 5 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[6]_LC_59)
set_location Debounce_Sw1.r_Count_RNO[7] 5 5 6 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[7]_LC_60)
set_location Debounce_Sw1.r_Count[7] 5 5 6 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[7]_LC_60)
set_location Debounce_Sw1.un2_r_count_cry_7_c 5 5 6 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[7]_LC_60)
set_location Debounce_Sw1.r_Count_RNO[8] 5 5 7 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[8]_LC_61)
set_location Debounce_Sw1.r_Count[8] 5 5 7 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[8]_LC_61)
set_location Debounce_Sw1.un2_r_count_cry_8_c 5 5 7 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[8]_LC_61)
set_location Debounce_Sw1.r_Count_RNO[9] 5 6 0 # SB_LUT4 (LogicCell: Debounce_Sw1.r_Count[9]_LC_62)
set_location Debounce_Sw1.r_Count[9] 5 6 0 # SB_DFFSR (LogicCell: Debounce_Sw1.r_Count[9]_LC_62)
set_location Debounce_Sw1.un2_r_count_cry_9_c 5 6 0 # SB_CARRY (LogicCell: Debounce_Sw1.r_Count[9]_LC_62)
set_location Debounce_Sw1.r_State_RNIDSE73 4 6 6 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_RNIDSE73_LC_63)
set_location Debounce_Sw1.r_State_RNO 6 6 6 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_LC_64)
set_location Debounce_Sw1.r_State 6 6 6 # SB_DFF (LogicCell: Debounce_Sw1.r_State_LC_64)
set_location Debounce_Sw1.r_State_RNO_0 6 5 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_RNO_0_LC_65)
set_location Debounce_Sw1.r_State_RNO_1 6 6 5 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_RNO_1_LC_66)
set_location Debounce_Sw1.r_State_RNO_2 6 6 7 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_RNO_2_LC_67)
set_location Debounce_Sw1.r_State_RNO_3 6 6 4 # SB_LUT4 (LogicCell: Debounce_Sw1.r_State_RNO_3_LC_68)
set_location Debounce_Sw2.r_Count_RNI64TE1[1] 7 9 2 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNI64TE1[1]_LC_69)
set_location Debounce_Sw2.r_Count_RNIKTBT[10] 7 10 5 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNIKTBT[10]_LC_70)
set_location Debounce_Sw2.r_Count_RNINN314[12] 7 9 4 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNINN314[12]_LC_71)
set_location Debounce_Sw2.r_Count_RNIQEQB[17] 7 10 0 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNIQEQB[17]_LC_72)
set_location Debounce_Sw2.r_Count_RNISOQT2[7] 7 9 3 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNISOQT2[7]_LC_73)
set_location Debounce_Sw2.r_Count_RNIV5631[4] 7 9 0 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count_RNIV5631[4]_LC_74)
set_location Debounce_Sw2.r_Count_RNO[0] 7 8 7 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[0]_LC_75)
set_location Debounce_Sw2.r_Count[0] 7 8 7 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[0]_LC_75)
set_location Debounce_Sw2.r_Count_RNO[1] 7 8 0 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[1]_LC_76)
set_location Debounce_Sw2.r_Count[1] 7 8 0 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[1]_LC_76)
set_location Debounce_Sw2.r_Count_RNO[10] 8 10 1 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[10]_LC_77)
set_location Debounce_Sw2.r_Count[10] 8 10 1 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[10]_LC_77)
set_location Debounce_Sw2.un2_r_count_cry_10_c 8 10 1 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[10]_LC_77)
set_location Debounce_Sw2.r_Count_RNO[11] 8 10 2 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[11]_LC_78)
set_location Debounce_Sw2.r_Count[11] 8 10 2 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[11]_LC_78)
set_location Debounce_Sw2.un2_r_count_cry_11_c 8 10 2 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[11]_LC_78)
set_location Debounce_Sw2.r_Count_RNO[12] 8 10 3 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[12]_LC_79)
set_location Debounce_Sw2.r_Count[12] 8 10 3 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[12]_LC_79)
set_location Debounce_Sw2.un2_r_count_cry_12_c 8 10 3 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[12]_LC_79)
set_location Debounce_Sw2.r_Count_RNO[13] 8 10 4 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[13]_LC_80)
set_location Debounce_Sw2.r_Count[13] 8 10 4 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[13]_LC_80)
set_location Debounce_Sw2.un2_r_count_cry_13_c 8 10 4 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[13]_LC_80)
set_location Debounce_Sw2.r_Count_RNO[14] 8 10 5 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[14]_LC_81)
set_location Debounce_Sw2.r_Count[14] 8 10 5 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[14]_LC_81)
set_location Debounce_Sw2.un2_r_count_cry_14_c 8 10 5 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[14]_LC_81)
set_location Debounce_Sw2.r_Count_RNO[15] 8 10 6 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[15]_LC_82)
set_location Debounce_Sw2.r_Count[15] 8 10 6 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[15]_LC_82)
set_location Debounce_Sw2.un2_r_count_cry_15_c 8 10 6 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[15]_LC_82)
set_location Debounce_Sw2.r_Count_RNO[16] 8 10 7 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[16]_LC_83)
set_location Debounce_Sw2.r_Count[16] 8 10 7 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[16]_LC_83)
set_location Debounce_Sw2.un2_r_count_cry_16_c 8 10 7 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[16]_LC_83)
set_location Debounce_Sw2.r_Count_RNO[17] 8 11 0 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[17]_LC_84)
set_location Debounce_Sw2.r_Count[17] 8 11 0 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[17]_LC_84)
set_location Debounce_Sw2.r_Count_RNO[2] 8 9 1 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[2]_LC_85)
set_location Debounce_Sw2.r_Count[2] 8 9 1 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[2]_LC_85)
set_location Debounce_Sw2.un2_r_count_cry_2_c 8 9 1 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[2]_LC_85)
set_location Debounce_Sw2.r_Count_RNO[3] 8 9 2 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[3]_LC_86)
set_location Debounce_Sw2.r_Count[3] 8 9 2 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[3]_LC_86)
set_location Debounce_Sw2.un2_r_count_cry_3_c 8 9 2 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[3]_LC_86)
set_location Debounce_Sw2.r_Count_RNO[4] 8 9 3 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[4]_LC_87)
set_location Debounce_Sw2.r_Count[4] 8 9 3 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[4]_LC_87)
set_location Debounce_Sw2.un2_r_count_cry_4_c 8 9 3 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[4]_LC_87)
set_location Debounce_Sw2.r_Count_RNO[5] 8 9 4 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[5]_LC_88)
set_location Debounce_Sw2.r_Count[5] 8 9 4 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[5]_LC_88)
set_location Debounce_Sw2.un2_r_count_cry_5_c 8 9 4 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[5]_LC_88)
set_location Debounce_Sw2.r_Count_RNO[6] 8 9 5 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[6]_LC_89)
set_location Debounce_Sw2.r_Count[6] 8 9 5 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[6]_LC_89)
set_location Debounce_Sw2.un2_r_count_cry_6_c 8 9 5 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[6]_LC_89)
set_location Debounce_Sw2.r_Count_RNO[7] 8 9 6 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[7]_LC_90)
set_location Debounce_Sw2.r_Count[7] 8 9 6 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[7]_LC_90)
set_location Debounce_Sw2.un2_r_count_cry_7_c 8 9 6 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[7]_LC_90)
set_location Debounce_Sw2.r_Count_RNO[8] 8 9 7 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[8]_LC_91)
set_location Debounce_Sw2.r_Count[8] 8 9 7 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[8]_LC_91)
set_location Debounce_Sw2.un2_r_count_cry_8_c 8 9 7 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[8]_LC_91)
set_location Debounce_Sw2.r_Count_RNO[9] 8 10 0 # SB_LUT4 (LogicCell: Debounce_Sw2.r_Count[9]_LC_92)
set_location Debounce_Sw2.r_Count[9] 8 10 0 # SB_DFFSR (LogicCell: Debounce_Sw2.r_Count[9]_LC_92)
set_location Debounce_Sw2.un2_r_count_cry_9_c 8 10 0 # SB_CARRY (LogicCell: Debounce_Sw2.r_Count[9]_LC_92)
set_location Debounce_Sw2.r_State_e_0_RNIK82U4 7 9 5 # SB_LUT4 (LogicCell: Debounce_Sw2.r_State_e_0_RNIK82U4_LC_93)
set_location Debounce_Sw2.r_State_e_0_RNO 7 9 6 # SB_LUT4 (LogicCell: Debounce_Sw2.r_State_e_0_RNO_LC_94)
set_location Debounce_Sw2.r_State_e_0_RNO_0 7 9 7 # SB_LUT4 (LogicCell: Debounce_Sw2.r_State_e_0_RNO_0_LC_95)
set_location Demux.o_Data1_0_a3 12 7 7 # SB_LUT4 (LogicCell: Demux.o_Data1_0_a3_LC_96)
set_location Demux.o_Data2_0_a3 12 7 0 # SB_LUT4 (LogicCell: Demux.o_Data2_0_a3_LC_97)
set_location Demux.o_Data3_0_a3 12 7 1 # SB_LUT4 (LogicCell: Demux.o_Data3_0_a3_LC_98)
set_location Demux.o_Data4_0_a3 12 8 1 # SB_LUT4 (LogicCell: Demux.o_Data4_0_a3_LC_99)
set_location Debounce_Sw2.r_State_e_0_THRU_LUT4_0 6 10 1 # SB_LUT4 (LogicCell: Debounce_Sw2.r_State_e_0_LC_100)
set_location Debounce_Sw2.r_State_e_0 6 10 1 # SB_DFFE (LogicCell: Debounce_Sw2.r_State_e_0_LC_100)
set_location Count_And_Toggle.un2_r_counter_cry_1_c 4 7 0 # SB_CARRY (LogicCell: Count_And_Toggle.un2_r_counter_cry_1_c_LC_101)
set_location Debounce_Sw1.un2_r_count_cry_1_c 5 5 0 # SB_CARRY (LogicCell: Debounce_Sw1.un2_r_count_cry_1_c_LC_102)
set_location Debounce_Sw2.un2_r_count_cry_1_c 8 9 0 # SB_CARRY (LogicCell: Debounce_Sw2.un2_r_count_cry_1_c_LC_103)
set_io Debounce_Sw1.r_State_RNIDSE73_0 0 8 1 # ICE_GB
set_io Debounce_Sw2.r_State_e_0_RNIK82U4_0 6 17 1 # ICE_GB
set_location GND -1 -1 -1 # GND
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io i_Switch_2_ibuf 13 3 1 # ICE_IO
set_io o_LED_1_obuf 13 6 1 # ICE_IO
set_io o_LED_2_obuf 13 7 0 # ICE_IO
set_io o_LED_3_obuf 13 7 1 # ICE_IO
set_io o_LED_4_obuf 13 8 0 # ICE_IO
